<%- include header.ejs %>

  <form method="post" action="/contacts/login" class="log-in-form">
    <h1>Welcome! Please log in.</h1>
    <h3>Not registered? <a href="/contacts/signup">Click Here</a></h3>
    <label>
      <span>Username:</span>
      <input type="text" name="username"/>
    </label>
    <label>
      <span>Password:</span>
      <input type="password" name="password"/>
    </label>
    <input type="submit" value="Submit"/>
  </form>

<%- include footer.ejs %>
