<%- include header.ejs %>

  <form method="post" action="/contacts/signup" class="sign-up-form">
    <label>
      <span>Username:</span>
      <input type="text" name="username"/>
    </label>
    <label>
      <span>Password:</span>
      <input type="text" name="password"/>
    </label>
    <!-- <label>
      <span>Confirm Password:</span>
      <input type="text"/>
    </label> -->
    <input type="submit" value="Submit"/>
  </form>

<%- include footer.ejs %>
