<%- include header.ejs %>

  <form method="post" action="/login" class="sign-up-form">
    <label>
      <span>Username:</span>
      <input type="text"/>
    </label>
    <label>
      <span>Password:</span>
      <input type="text"/>
    </label>
    <label>
      <span>Confirm Password:</span>
      <input type="text"/>
    </label>
    <input type="submit" value="Submit"/>
  </form>

<%- include footer.ejs %>
